.move-center {
  text-align: center;
}

.left {
  float: left;
  padding-left: 50px;
}

.right  {
  float: right;
  padding-right: 50px;
}

img {
  width: 100px;
  height: 70px;
  display: inline-block;;
}

.new-burger{
  clear: both;
  position: absolute;
  top: 200px;
  left: 580px;
}

.form-group {
  text-align: center;
}

body  {
  background-color: #F0E68C;
}